-var titulo = "Subtitulo Principal"
-var titulos = ["Título principal","Subtitulo 1","Subtitulo 2","Subtitulo 3"]
-var usuario = "Miguel"
-const user = {nombre: "Miguel"}
-var enlaces = ["Acerca","Noticas","Contacto"]
mixin caja(imagen, titulo, contenido)
    .caja
        .caja__imagen: img(src="imagenes/"+imagen, alt="")
        .caja__contenido
            h3=titulo
            p=contenido