//* Typo

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$font:'Montserrat',sans-serif;

//Typos
$h1:50px;
$h2:30px;
$h3:20px;
$p:13px;
$small:10px;

//Typo bolds

$black:800;
$bolder:700;
$medium:600;
$normal:500;
$light:400;