@import "../tokens/typo.scss";
@import "../tokens/colors.scss";
@import "../tokens/spacing.scss";

.wrapper{
    display: flex;
    width: 100%;
}

#sidebar{
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: $black_normal;
}