extends layout

block content
  h1 游끬 Platzi Design system
    =version
  p.secondary_action Bienvenido al sistema de dise침o de Platzi, aqu칤 podr치s encontrar todo lo que necesites
    a.green_brand.bold(href="https://www.notion.so")
  hr
  br
  p Este documento est치 creado para:
  h3.mymove 游꿛Dise침adores
  h3 游눹Programadores