.fadeIn{
    -webkit-animation-duration: 4s;
    animation-duration: 4s; /*Define la duración de la animación*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; /*Se van a cumplir los key frames tanto de ida como de regreso*/
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*ahora la clase y el keyframe ya están conectados*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fadeInDown{
    -webkit-animation-duration: 3s;
    animation-duration: 3s; /*Define la duración de la animación*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; /*Se van a cumplir los key frames tanto de ida como de regreso*/
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0); /*el 100% hace que vaya desde arriba hasta abajo*/
        transform: translate3d(0,-100%,0); /*el 100% hace que vaya desde arriba hasta abajo*/
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.fadeInUp{
    -webkit-animation-duration: 1s;
    animation-duration: 1s; /*Define la duración de la animación*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; /*Se van a cumplir los key frames tanto de ida como de regreso*/
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0); 
        transform: translate3d(0,100%0,0); 
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}