.contenedor--cajas {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.caja {
  max-width: 430px;
  box-shadow: 0 5px 15px 0 rgba(255, 255, 255, 0.5);
}
.caja__contenido {
  padding: 25px;
  background-color: #8841da;
}
.caja span {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
