body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;/*!Grid con tres columnas*/
}

.item{
    border: 1px red solid;
    background-color: lightblue;
    padding: 10px;
}