/*-------------------------------
    $COLORS
--------------------------------*/
/*
!Branding Colors
*/

$color-brand: #2f38a1;
$color-secondary: #effe2e;
$color-hover: #28c375;
$color-header-bottom:#4b6c7d;
$font-header: Arial, Helvetica, sans-serif;

$black:#000000;
$dark-gray:#4d4d4d;
$grey:#737373;
$light-grey:#bfbfbf;
$white:#ffffff;