.galeria {
    width: 50%;
    height: 250px;
    margin: 10px auto;
    padding: 20px 0 0 30px;
    @include caja;
    &__foto-principal {
        float: left;
        margin-right: 10px;
    }
    &__fotos-adicionales {
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 20px;
        @include titulos($Fuente2);
    }
    img {
        border-radius: 10px;
    }
}